{% extends "base.html" %}
{% block content%}
<div class="containerabout" style="background-color: transparent; height: 800px; width: 1550px; margin-left: auto; margin-right: auto;">
    <h1 style="margin: 50px; font-size: 50px;">Group 5</h1>
    <img src="static/img/abelong.jpg" alt="image" style="height: 40%; width:300px; float: left; padding-right: 10px">
    <img src="static/img/junaid.png" alt="image" style="height: 40%; width:300px; float: left; padding-right: 10px">
    <img src="static/img/pat.jpg" alt="image" style="height: 40%; width:300px; float: left; padding-right: 10px">
    <img src="static/img/mark.png" alt="image" style="height: 40%; width:300px; float: left; padding-right: 10px">
    <img src="static/img/zed.jpg" alt="image" style="height: 40%; width:300px; float: left">
    
    <div class="info" style="background-color: transparent; float: left; height:30%; width: 300px; margin-top: 20px;margin-right: 10px">
        <h3 class="names">Mark Louie Abelong</h3>
        <h5 class="infos">CPE41S3</h5>
        <h5 class="infos">qmlrabelong@tip.edu.ph</h5>
    </div>

    <div class="info" style="background-color: transparent; float: left; height:30%; width: 300px; margin-top: 20px;margin-right: 10px">
        <h3 class="names">Junaid Bantuas</h3>
        <h5 class="infos">CPE41S3</h5>
        <h5 class="infos">qjmbantuas@tip.edu.ph</h5>
    </div>
    <div class="info" style="background-color: transparent; float: left; height:30%; width: 300px; margin-top: 20px;margin-right: 10px">
        <h3 class="names">Patricia Mae Dizon</h3>
        <h5 class="infos">CPE41S3</h5>
        <h5 class="infos">qpmdvdizon@tip.edu.ph</h5>
    </div>
    <div class="info" style="background-color: transparent; float: left; height:30%; width: 300px; margin-top: 20px;margin-right: 10px">
        <h3 class="names">Mark Kenneth Valerio</h3>
        <h5 class="infos">CPE41S3</h5>
        <h5 class="infos">qmkdcvalerio@tip.edu.ph</h5>
    </div>
    <div class="info" style="background-color: transparent; float: left; height:30%; width: 300px; margin-top: 20px;margin-right: 10px">
        <h3 class="names">Zedrick Vince Gutierrez</h3>
        <h5 class="infos">CPE41S3</h5>
        <h5 class="infos">qzvogutierrez@tip.edu.ph</h5>
    </div>
</div>






{% endblock %}