{% extends "base.html" %}
{% block content%}


<div class="card" style="align-items: center; height: 430;">
    <div class="card-body">
        <h2 align="center"> REGISTER </h2>
        

        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}<br>
                {{ form.user_name }}<br><br>
                {{ form.user_pass }}<br><br>
                {{ form.first_name }}<br><br>
                {{ form.last_name }}<br><br>
                {{ form.submit }}

            
            </form>
            <a href="/"> <button style= "width:200px"> Cancel </button></a>
        </div>
    </div>
{% endblock %}